<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center mt-5 mb-5">Fuego Choices</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burger this}}
                    {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="text center mt-5 mb-5">List to Devour</h1>
            <div class="list-group devour">
                {{#each burgers}}
                    {{#if devoured}}
                        {{> devour this}}
                    {{/if}}
                {{/each}}
                <div class="group-button d-flex justify-content-center mt-5">
                    <a href="/devour" class="btn btn-warning btn-lg" onclick="handleDevourAll()">Devour the List!</a>
                </div>
            </div>
        </div>
    </div>
</div>